<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for category, message in get_flashed_messages(with_categories = true) %}
<div class="Alert alert-danger">
    {{ message }}
</div>
{% endfor%}

<form action="{{request.path}}" method="post">
    <lable for = 'name'>Student Name</lable>
    <input type="text" name="name" placeholder="Enter your Name"></br></br>

    <lable for = 'city'>Student City</lable>
    <input type="text" name="city" placeholder="Enter your City"></br></br>

    <lable for = 'class'>Student Class</lable>
    <input type="text" name="mclass" placeholder="Enter your class"></br></br>

    <lable for = 'mobile'>Student Mobile Number</lable>
    <input type="text" name="mobile" placeholder="Enter your Mobile Number"></br></br>

    <input type="submit" value="Submit">

</form>

</body>
</html>