<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Information</title>
</head>
<body>
<h1>Employee Information Form</h1>

<form action="http://127.0.0.1:5053/result" method="POST">
    <label> Employee Name</label>
    <input type="text" name="emp_name" placeholder="Enter your Full Name"><br></br>

    <label> Employee Post</label>
    <input type="text" name="emp_post" placeholder="Enter your Designation"><br></br>

    <label> Employee Location</label>
    <input type="text" name="emp_loc" placeholder="Enter your Location"><br></br>

    <label> Employee Salary</label>
    <input type="text" name="emp_sal" placeholder="Enter your Annual Income"><br></br>

    <label> Employee Email ID</label>
    <input type="text" name="emp_mail" placeholder="Enter your Email ID"><br></br>

    <input type="submit" value="SUBMIT">
</form>

</body>
</html>