<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Employee Information Table</title>
</head>
<body>
<h1>Welcome to Flask Database Framework</h1>
<form action="{{ url_for('emp_details') }}" method="POST">
  <h2>Employee Information Table</h2>
  <label>Employee Name: </label>
  <input type="text", name="emp_name", placeholder="Enter Your Name"></br></br>

  <label>Employee Post: </label>
  <input type="text", name="emp_post", placeholder="Enter Your Post"></br></br>

  <label>Employee Contact Number: </label>
  <input type="text", name="emp_mobile", placeholder="Enter Your Contact Number"></br></br>

  <label>Employee Location: </label>
  <input type="text", name="emp_loc", placeholder="Enter Your Location"></br></br>

  <label>Employee Salary: </label>
  <input type="text", name="emp_sal", placeholder="Enter Your Salary"></br></br>

  <input type="submit" value="Submit">

</form>
</body>
</html>